body {
  background-color: #F1F0F0;
}

.accounts {
  list-style: none;
  margin: auto;
  padding: 0;
  width: 70%;
  text-align: center;
}

.accounts li {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  overflow: hidden;
  background-color: #FFF;
  position: relative;
}

.logo {
  height: 40px;
  max-height: 60px;
  vertical-align: middle;
}

.username {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20pt;
  vertical-align: middle;
  padding: 10px;
  color: #111;
  background: #fff;
  transition: all .15s;
  border-radius: 3px;
}
